.bg-color {
 background-color: #f5cd3a; }


 p{
  text-indent: 80px; 
}


.blue-text {
  color: #002291
}

 h1 {
  font-family: 'Sriracha', cursive; /* ฟ้อนต์ Sriracha */
  font-weight: 400;                 /* น้ำหนัก Regular */
  font-size: 48px;                  /* ขนาดตัวอักษร */
  line-height: 1.2;                 /* ระยะบรรทัด (ปรับให้บาลานซ์) */
  color: #002291;                      /* สีข้อความ (ปรับได้) */
}

.Mitr {
  font-family: 'Mitr', sans-serif; /* ฟ้อนต์ Mitr */
  font-weight: 400;                /* Regular 400 */
  font-size: 24px;                 /* ขนาดตัวอักษร (ปรับได้) */
}

 .container p {
    font-weight: normal; /* ตั้งค่า font-weight ให้ <p> ปกติ */
  }

.fw-bold {
  color: #0a2ea5fa;  /* สีเดียวกันกับตัวหนาอื่น ๆ */
}


.backgroundcolor {
  background: linear-gradient(to right, #4eaad1, #b1f3de, #0231ce);
  /* ไล่สีจากชมพู → ครีม → ฟ้า */
  padding: 40px 0; /* เพิ่มช่องว่างด้านบนล่าง */
}

.bg-dark-green {
      background-color: #32462f;
      color: white; 
    }


  
  /* กำหนดสไตล์ให้คอลัมน์ฝั่งซ้าย */
.left-column {
  background-color: #fffdce; /* สีครีมอ่อน */
  padding: 20px; /* เพิ่มช่องว่างภายใน */
  border-radius: 5px; /* ทำให้ขอบมนนิดหน่อย (ถ้าต้องการ) */
}

/* กำหนดสไตล์ให้คอลัมน์ฝั่งขวา */
.right-column {
  background-color:  #ffffdb; /* สีเทาอ่อน */
  padding: 20px; /* เพิ่มช่องว่างภายใน */
  border-radius: 5px; 
}

/* ในไฟล์ style.css ของคุณ */
.right-column ol {
  padding-left: 0 !important;
  padding-inline-start: 0 !important; /* ใส่ไปทั้ง 2 อันเลย กันเหนียว */
}

.bg-sky {
 background-color: #d6f5ff; }


 .left-column li {
 font-weight:normal; }




/* ใช้ฟอนต์ Sriracha กับ p และ li */
p, li, h4, h2, h6{
  font-family: 'Sriracha', cursive;
}